<a href="https://colab.research.google.com/github/Jiteshwagh/Makaan-Webscrapping/blob/main/Makaan_com_WebScrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing all the required packages

import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from IPython.display import clear_output

In [7]:
base_url = 'https://www.makaan.com/mumbai-residential-property/buy-property-in-mumbai-city?page='      #multiple pages
own_info = []          #owner info
b_info = []            #bhk info
loc_info = []          #locality info
con_info = []          #construction status info
area_info = []         #area sqft info
price_info = []        #price info
rate_psqft = []        #rate per square feet

for i in range(1,51):
  time.sleep(3)

  print(f'Going to scrap data from page {i} ' )
  clear_output(wait='True')
  url = base_url + str(i) + '&_=1624462763795'
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')

  #owner info
  o_inf = (soup.findAll('span',attrs = {'class' : 'seller-type'}) )
  for j in o_inf:
    own_info.append(j.text)

  #bhk info
  b_inf = soup.findAll('div',attrs={'class':'title-line'})
  for k in b_inf:
    b_info.append(k.strong.span.text)

  #locality info
  loc_inf = soup.findAll('span',attrs = {'itemprop' : 'addressLocality' })
  for l in loc_inf:
    loc_info.append(l.text)

  #construction status info
  con_inf = soup.findAll('td',attrs = {'class' : 'val' })
  for m in con_inf:
    con_info.append(m.text)

  #area per sqft info
  area_inf = soup.findAll('td',attrs={'class' : 'size'})
  for n in area_inf:
    area_info.append(n.text)

  #price info
  price_inf = soup.findAll('td',attrs={'class' : 'price'})
  for o in price_inf:
    price_info.append(o.text)

  #rate per square feet info
  rate = soup.findAll('td',attrs={'class' : 'lbl rate'})
  for p in rate:
    rate_psqft.append(p.text)

Going to scrap data from page 50

In [9]:
#Converting data to tabular Format using Pandas

data = pd.DataFrame({'Owner_info' : own_info,
              'BHK_Info' : b_info,
              'Price' : price_info,
              'Locality' : loc_info,
              'Area in Sqft' : area_info,
               'Construction status' : con_info,
               'Price per/sqft' : rate_psqft })

In [10]:
data

    Owner_info BHK_Info  ... Construction status  Price per/sqft
0      BUILDER       1   ...  Under Construction   6,979 / sq ft
1      BUILDER       2   ...  Under Construction  24,444 / sq ft
2      BUILDER       2   ...  Under Construction  23,362 / sq ft
3      BUILDER       1   ...       Ready to move   4,593 / sq ft
4      BUILDER       4   ...       Ready to move   8,928 / sq ft
..         ...      ...  ...                 ...             ...
995      OWNER       1   ...       Ready to move   7,111 / sq ft
996      OWNER       2   ...  Under Construction  18,703 / sq ft
997      OWNER       2   ...       Ready to move   6,476 / sq ft
998      OWNER       2   ...       Ready to move  11,428 / sq ft
999      OWNER       5   ...       Ready to move  41,379 / sq ft

[1000 rows x 7 columns]

In [11]:
#saving to CSV file
data.to_csv('Apartments.csv',index=False)